{% extends 'loglay.html' %}

{% block content %}
<div class="">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="boxes" style="margin-bottom: 100px;">
            <legend style="font-family: 'Courier New', Courier, monospace; font-size: xx-large;">Reset Password</legend>

            <div class="username-box">
                <!-- {{ form.username.label(class="menghilang") }} -->

                {% if form.username.errors%}
                    {{ form.username(class="input-username") }}
                    <div class="">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="input-username") }}
                {% endif %}

            </div>

            <div class="password-box">
                <!-- {{ form.password.label(class="") }} -->

                {% if form.password.errors%}
                    {{ form.password(class="input-password") }}
                    <div class="">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="input-password") }}
                {% endif %}

            </div>

            <div class="confirm-box">
                <!-- {{ form.confirm_password.label(class="") }} -->

                {% if form.confirm_password.errors%}
                    {{ form.confirm_password(class="input-confirm") }}
                    <div class="">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="input-confirm") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="">
            {{ form.submit(class="btn btn-outline-info") }}
            <small style="position: relative; bottom: 80px; left: 290px;">
                <a href="{{ url_for('login') }}" style="color: #3797EF; text-decoration: none;">Kembali ke Login?</a>
            </small>
        </div>
        

    </form>\]
</div>
{% endblock content %}