{% extends 'loglay.html' %}

{% block content %}
	<div class="">
		<img src="C:\Users\User\OneDrive\Desktop\2024\PROCOD11\FLASK\MEET15\application\static\images\igs1.jpg" alt="" class="igs1">
		<div class="igrams">Igrams</div>
        <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="boxes">
				<!-- <legend class="">lOGIN</legend> -->

				<div class="username-box">
					<!-- {{ form.username.label(class="") }} -->

					{% if form.username.errors%}
						{{ form.username(class="input-username") }}
						<div class="">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="input-username") }}
					{% endif %}

				</div>

				<div class="password-box">
					<!-- {{ form.password.label(class="") }} -->

					{% if form.password.errors%}
						{{ form.password(class="input-password") }}
						<div class="">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="input-password") }}
					{% endif %}

				</div>
				<small class="">
					<a href="{{ url_for('forgotpassword') }}" style="text-decoration: none; position: relative; align-items: center; margin-left: 290px; top: 5px; color: #3797EF;">Forgot Password?</a>
				</small>
				<div class="submit">
					{{ form.submit(class="btn-outline-info") }}
				</div>
			</fieldset>
			<small class=".donthaveanaccount">
				<a href="{{ url_for('signup') }}" style="position: relative; text-align: center; top: 350px; align-items: center; left: 250px; color: #3797EF; text-decoration: none;">Sign up.</a>
			</small>

		</form>
	</div>
{% endblock content %}